.content_box_thin {
    max-width: 500px;
    outline-width: 1px;
    outline: 1px;
    outline-style: solid;
    outline-color: black;
    background-color: #cae6dd;
    text-align: center;
    padding-top: 5px;
    
}

.content_box {
    outline-width: 1px;
    outline: 1px;
    outline-style: solid;
    outline-color: black;
    background-color: #cae6dd;
    text-align: center;
    padding-top: 5px;
}


.form_box {
    margin-bottom: 20px;
}

.submit_button {
    margin-bottom: 10px;
    background-color: rgb(0, 162, 177);
}

.submit_button:hover {
    margin-bottom: 10px;
    background-color: rgba(15, 46, 79, 0.482);
}

.underbox_text {
    text-align: center;
    padding-top: 5px;
}

.sort_box {
    padding-top: 5px;
}