.question_screen {
    outline-width: 1px;
    outline: 1px;
    outline-style: solid;
    outline-color: black;
    background-color: #cae6dd;
}

.delete_button {
    margin-bottom: 10px;
    background-color: rgb(216, 0, 0);
}

.delete_button:hover {
    margin-bottom: 10px;
    background-color: rgba(202, 0, 0, 0.482);
}

.question_button {
    border-radius: 1px;
    border-color: var(--question_button_colour);
    color: var(--question_button_colour);
    
}

.question_button:hover {
    border-radius: 1px;
    color: var(--question_button_colour);
}

.question_button:active {
    border-radius: 1px;
    color: var(--question_button_colour);
}

@media (max-width: 992px) { .down {
    margin-top: 10px;
    align-self: center;
}
}

.like_button {
    background-color: gold;
    margin-bottom: 10px;
    justify-content: center;
}

.like_button:hover {
    background-color: rgb(204, 173, 0);
    margin-bottom: 10px;
}
