.question_screen {
    outline-width: 1px;
    outline: 1px;
    outline-style: solid;
    outline-color: black;
    background-color: #cae6dd;
}

.content_seperator > * {
    margin-top: 10px;
    margin-bottom: 10px;
}

.comment_section {
    padding-left: 10px;
    padding-right: 10px;
}

.delete_button {
    margin-bottom: 10px;
    background-color: rgb(216, 0, 0);
}

.delete_button:hover {
    margin-bottom: 10px;
    background-color: rgba(202, 0, 0, 0.482);
}

.question_button {
    border-radius: 1px;
    border-color: var(--question_button_colour);
    color: var(--question_button_colour);
    
}

.question_button:hover {
    border-radius: 1px;
    color: var(--question_button_colour);
}

.question_button:active {
    border-radius: 1px;
    color: var(--question_button_colour);
}

@media (max-width: 992px) { .down {
    margin-top: 10px;
    align-self: center;
}
}