.walk_card {
    background-color: #e0fff5;
    color: rgb(42, 42, 42);
}

#walk_link {
    text-decoration: none;
}

.walk_tile {
    padding-bottom: 10px;
    text-align: left!important;
}

.walk_card_elements {
    align-items: center;
    justify-content: center;
}

.walk_thumbnail {
    object-fit: cover;
}

@media (min-width: 992px) { .walk_thumbnail {
    height: 200px;
    width: 300px;
}
}

.walk_thumbnail_small {
    object-fit: cover;
}

@media (min-width: 992px) { .walk_thumbnail_small {
    height: 100px;
    width: 300px;
}
}