{% extends 'stroll/base.html' %}
{% load staticfiles %}

{% block title_block %}
    About Us
{% endblock %}

{% block body_block %}
    <div class="container">
        <div class="row title">
            <h1>About Us</h1>
        </div>
    </div>
    
    <div class="container-xxl">
        <div class="row mt-5">
        <div class="col">
            <div class="row">
                <h3>What is Stroll</h3>
            </div>
            <div class="row">
                <div class="col-lg col-12">
                    <p>Stroll is your one stop shop for all things walking. Share the walks you have done around Glasgow, search for new walks,
                        or ask questions about the hobby, you can do it all here. 
                    </p>
                </div>
            </div>
        </div>
            <div class="col-lg col-12 mx-auto text-center">
                <img src="{% static 'images/about_walk_photo.png' %}" width="500">
            </div>           
        </div>
    </div>
{% endblock %}
