<!DOCTYPE html>
{% load staticfiles %}

<html>
    <head lang="en">
        <link rel="stylesheet" type="text/css" href="/static/css/stroll_style.css"/>
        <link rel="stylesheet" type="text/css" href="/static/css/walk_elements.css"/>
        <meta charset="UTF-8" />
        <title>
            Stroll - 
            {% block title_block %}
                All Things Walking
            {% endblock %}
        </title>
    </head>
    <body>
        <div class="header_and_footer">
            <a href="{% url 'stroll:home' %}"><img src="/static/images/stroll_logo.png" width="192" height="111.75"></a>
            <a href="{% url 'stroll:search_walks' %}">Search Box</a>
            <a href="{% url 'stroll:create_walk' %}">Create Walk</a>
            <a href="{% url 'stroll:login' %}">Login</a>
        </div>

        <div>
            {% block body_block %}
            {% endblock %}
        </div>

        <div class="header_and_footer">
            <a href="{% url 'stroll:home' %}"><img src="/static/images/stroll_logo.png" width="192" height="111.75"></a>
            <a href="{% url 'stroll:search_walks' %}">Search Box</a>
            <a href="{% url 'stroll:create_walk' %}">Create Walk</a>
            <ul>
                <li><a href="{% url 'stroll:home' %}">Home</a></li>
                <li><a href="{% url 'stroll:about' %}">About Us</a></li>
                <li><a href="{% url 'stroll:questions' %}">Questions</a></li>
            </ul>
            
        </div>
    </body>
</html>