<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/comment_element.css' %}"/>
    </head>
    <body>
        <div class="container-xxl">
            <div class="row" id="comment_box">
                <div class="col-xxl-1 col-md-2 col-12 profile_photo_box">
                    <img src="/media/profile_pictures/{{ comment.profile_picture }}.png" class="profile_photo" alt="{{ comment.user }}'s profile picture.">
                </div>
                <div class="col">
                    <div class="row" >
                        <div class="row">
                            <div class="col">

                                <!-- Shows if someone who commenting is a moderator or not -->
                                {% if comment.user.is_moderator %}
                                    <p><strong>{{ comment.user }}</strong> (Moderator) • {{ comment.date_published }}</p>
                                {% else %}
                                    <p><strong>{{ comment.user }}</strong> • {{ comment.date_published }}</p>
                                {% endif %}
                                
                            </div>
                        </div>
                        <div class="row">
                            <div class="col" id="comment_text">
                                <p>{{ comment.comment }}</p>
                            </div>
                        </div>
                        
                        
                    </div>
                </div>

                {% if request.user.is_authenticated %}
                <div class="col-lg-2 col-12 button_offset">
                    <!-- If walk is liked, add 1 to walk liked and to the likes of the user who made the walk -->
                    <button class="btn like_button" type="submit">Like this Comment ❤</button>     
                </div>
                {% endif %}

                {% if UserProfile.user.is_moderator %}
                    <div class="row">
                        <div class="col d-grid">
                            <input type="submit" class="btn delete_button" value="Delete Comment" />
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </body>
</html>
