{% extends 'stroll/base.html' %}
{% load staticfiles %}
{% load stroll_template_tags %}

{% block script_block %}
<script
    src="https://maps.googleapis.com/maps/api/js?key={{ API_KEY }}&callback=initMap&v=weekly&libraries=geometry"
    defer
></script>
<script src="{% static 'js/create_walk.js' %}"></script>
{% endblock %}

{% block stylesheet_block %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/form_style.css' %}"/>
{% endblock %}

{% block title_block %}
    Create Walk
{% endblock %}

{% block body_block %}
<div class="container-xxl content_box">
    <div>
        <form id="create_walk_form" method="post" action="{% url 'stroll:create_walk' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col title">
                    <h1>Add Walk</h1>
                </div>
            </div>
            <div class="row main_body">
                <div class="col-lg-6 col-12">
                    <div class="row">
                        <div class="col">
                            Title: <input class="form-control" type="text" name="title" value="" size="30" />
                            {{ form.title.errors }}
                            <br />
                            Area: <input class="form-control" type="text" name="area" value="" size="30" />
                            {{ form.area.errors }}
                            <br />
                            description: <input class="form-control" type="text" name = "description" value="" size="1000" />
                            {{ form.description.errors }}
                            <br />
                            Difficulty: <input class="form-control" type="number" name="difficulty" value="" />
                            {{ form.difficulty.errors }}
                            <br />
                            Tags: <input class="form-control" type="text" name = "tags" value="" size="200" />
                            {{ form.tags.errors }}
                            <br />

                            {% for hidden in form.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}

                            <input id="coordinates" type="hidden" name = "map_coordinates" value="" size="5000" />
                            <input id="length" type="hidden" name = "length" value="" size="200" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p>Upload Thumbnail (Optional)</p>
                            {{ form.thumbnail }}
                        </div>
                        <div class="col">
                            <p>Upload Images (Max 4)</p>
                            Photo: <input class="form-control" type="file" accept="image/*" name="gallery_image_1" />
                            <br />
                            Photo: <input class="form-control" type="file" accept="image/*" name="gallery_image_2" />
                            <br />
                            Photo: <input class="form-control" type="file" accept="image/*" name="gallery_image_3" />
                            <br />
                            Photo: <input class="form-control" type="file" accept="image/*" name="gallery_image_4" />
                            <br />
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-12">
                    <div id="map"></div>
                </div>
                <div class="col">
                    <br />
                    <input class="form-control submit_button" type="submit" name="submit" value="Create Walk" />
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
