{% extends 'stroll/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Create Walk
{% endblock %}

{% block body_block %}
<div class="container-xxl">
    <div>
        <div class="row">
            <div class="col title" id="box">
                <h1>Add Walk</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-12" id="box">
                <div class="row">
                    <div class="col" id="box">
                        Form elements here
                    </div>
                </div>
                <div class="row">
                    <div class="col" id="box">
                        <p>Upload Thumbnail (Optional)</p>
                        Photo upload here
                    </div>
                    <div class="col" id="box">
                        <p>Upload Images (Max 4)</p>
                        Image Upload here
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-12" id="box">
                Google map selector here
            </div>
        </div>
    </div>
</div>
{% endblock %}
