{% extends 'stroll/base.html' %}
{% load staticfiles %}
{% load stroll_template_tags %}

{% block title_block %}
    Homepage
{% endblock %}

{% block stylesheet_block %}
{% endblock %}

{% block body_block %}
    <div class="container">
        <h1 class="title">Home - Popular Walks</h1>
    </div>
    <div class="container main_body">
    {% for walk in popular_walks %}
        <div class="row walk_tile">
            <div class="col">
                <!-- Brings in the HTML required for a walk element -->
                {% walk_element walk display_type="full" %}
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}
