{% extends 'stroll/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Homepage
{% endblock %}

{% block body_block %}
    <h1>Home - Popular Walks</h1>

    {% for walk in popular_walks %}
        <div>
            <img src="{{ MEDIA_URL }}{{ walk.thumbnail }}.jpg" alt="{{ walk.name }}'s thumbnail">
        </div>
        <div id="walk_attribute_box">
            <dl>
                <dt>Title: {{ walk.name }}</dt>
                <dt>Area: {{ walk.area }}</dt>
                <dt>Tags: {% for tag in walk.tags %}
                        
                        {% if not forloop.last %}
                            {{ tag }}, 
                        {% else %}
                            {{ tag }}
                        {% endif %}
                    {% endfor %}</dt>
                <dt>Difficulty: {{ walk.difficulty }}</dt>
            </dl>
        </div>
        <div id="walk_description_box">
            <p>Description: {{ walk.description }}</p>
        </div>
        
        
        
    {% endfor %}
{% endblock %}
