{% extends 'stroll/base.html' %}
{% load staticfiles %}

{% block stylesheet_block %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/form_style.css' %}"/>
{% endblock %}

{% block title_block %}
    Login
{% endblock %}

{% block body_block %}
<div class="container title">
    <h1>Login</h1>
</div>
<div class="container-xxl content_box_thin main_body">
    <div>
        <div class="row">
            
        </div>
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col form_box">
                        Login Form here
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col d-grid">
                <button type="button" class="btn submit_button">Login</button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col underbox_text">
        <a href="{% url 'stroll:signup' %}"><p>Don't have an account. Signup here</p>
    </div>
</div>
{% endblock %}
