<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/question_element.css' %}"/>
    </head>
    <body>
        <div class="container-xxl">
            <a href="{% url 'stroll:show_question' question.slug %}" id="question_link">
                <div class="row" id="question_box">
                    <div class="col-md-2">
                        <div class="row">
                            <div class="col-md col-0 d-none d-md-block">
                                <dl>
                                    <dt><small>Likes: {{ question.likes }}</small></dt>
                                    <dt><small>Views: {{ question.views }}</small></dt>
                                    <dt><small>Comments: number</small></dt>
                                </dl>
                            </div>
                        </div>
                        <div class="row">

                        </div>
                        
                    </div>
                    <div class="col" id="question_text">
                        <h4>{{ question.title }}</h4>
                    </div>
                </div>
            </a>
        </div>
    </body>
</html>
