{% extends 'stroll/base.html' %}
{% load staticfiles %}
{% load stroll_template_tags %}

{% block stylesheet_block %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/form_style.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/question.css' %}"/>
{% endblock %}

{% block script_block %}
    <script src="{% static 'js/sort_data.js' %}"></script>
{% endblock %}

{% block title_block %}
    Questions
{% endblock %}

{% block body_block %}
<div class="container-xxl">
    <div class="row title">
        <h1>Question Forum</h1>
    </div>
    <div class="row main_body ">
        <div class="row content_box">
            <div class="row">
                <div class="col">
                    <h4>User Questions</h4> 
                </div>
            </div>
            <div class="col-lg-2">
                <div class="row">
                    <div class="col-lg-12 col-sm-3 col-12">
                        <h5>Sort By:</h5>
                    </div>
                    <div class="col-lg-12 col-sm-3 col-6">
                        <form id="create_walk_form" method="get" action="{% url 'stroll:questions' %}">
                            <input id="ordering" type="hidden" name="ordering" value="likes" size="20" />
                            <input class="btn sort_button" type="submit" name="submit" value="Likes" />
                        </form>
                    </div>
                    <div class="col-lg-12 col-sm-3 col-6">
                        <form id="create_walk_form" method="get" action="{% url 'stroll:questions' %}">
                            <input id="ordering" type="hidden" name="ordering" value="views" size="20" />
                            <input class="btn sort_button" type="submit" name="submit" value="Views" />
                        </form>
                    </div>
                    <div class="col-lg-12 col-sm-3 col-12">
                        <form id="create_walk_form" method="get" action="{% url 'stroll:questions' %}">
                            <input id="ordering" type="hidden" name="ordering" value="date_published" size="20" />
                            <input class="btn sort_button" type="submit" name="submit" value="Newest" />
                        </form>
                    </div>    
                </div>
            </div>
            
            <div class="col-lg-10 col-12">
                <div class="row">
                    {% if user.is_authenticated %}
                        <form class="content_seperator" id="question_form" method="post" action="{% url 'stroll:questions' %}" >
                            {% csrf_token %}
                            <div class="col-lg-11 col-12">
                                <input class="form-control" type="text" name="question" placeholder="Post Question" aria-label="Post">
                            </div>
                            <div class="col-lg-11 col-12">
                                <input class="form-control submit_button" type="submit" name="submit" value="Post" />
                            </div>
                        </form>
                    {% else %}
                        <div class="row section_text">
                            <a href="{% url 'stroll:login' %}"><p>Log in to be able to post comments</p></a>
                        </div>
                    {% endif %}
                </div>
                <div class="row" id="sortable">
                    {% for question in questions %}
                        <div class="col-11">
                            <!-- Brings in the HTML required for a question element -->
                            <p>{% question_element question %}</p>
                        </div>
                    {% endfor %}
                </div>
                
            </div>
        </div>
    </div>
</div>
{% endblock %}
