{% extends 'stroll/base.html' %}
{% load staticfiles %}
{% load stroll_template_tags %}

{% block stylesheet_block %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/question_page.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/comment_element.css' %}"/>
{% endblock %}

{% block title_block %}
    {{ text }}
{% endblock %}

{% block body_block %}
<div class="container title">
    <h1>Question</h1>
    {% if user.is_moderator %}
        <div class="row">
            <div class="col d-grid">
                <input type="submit" class="btn delete_button" value="Delete Question" />
            </div>
        </div>
    {% endif %}
</div>
<div class="container-xxl main_body walk_text">
    <div class="row question_screen">
        <div class="col content_seperator">
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col-xxl-1 col-md-2 col-12 profile_photo_box">
                            <img src="{{ MEDIA_URL }}profile_pictures/photo.png" class="profile_photo">
                        </div>
                        <div class="col">
                            <div class="row" >
                                <div class="row">
                                    <div class="col">
                                        <!-- Shows if the person asking the question is a moderator or not -->
                                        {% if request.user.is_moderator %}
                                            <p><strong>{{ comment.user }}</strong> (Moderator) • {{ comment.date_published }}</p>
                                        {% else %}
                                            <p><strong>{{ comment.user }}</strong> • {{ comment.date_published }}</p>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <p>{{ text }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% comments_section comments request.user %}

{% endblock %}
