{% extends 'stroll/base.html' %}
{% load staticfiles %}
{% load stroll_template_tags %}

{% block stylesheet_block %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/form_style.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/question.css' %}"/>
{% endblock %}

{% block title_block %}
    Search Walks
{% endblock %}

{% block body_block %}
<div class="container-xxl">
    <div class="row title">
        <h1>Search Walks</h1>
    </div>
    <div class="row main_body ">
        <div class="row content_box">
            <div class="row">
                <div class="col">
                    <h4>Uploaded Walks</h4> 
                </div>
            </div>
            <div class="col-xxl-3">
                <div class="row">
                    <div class="col">
                        <h4>Advanced Search</h4>
                        <form class="content_seperator" id="advanced_search_form" method="post" action="{% url 'stroll:search_walks' %}" >
                            {% csrf_token %}

                            <input class="form-control" type="text" name="title" value="" placeholder="Title" size="30" />
                            <input class="form-control" type="text" name="area" value="" placeholder="Area" size="30" />
                            <input class="form-control" type="text" name="description" value="" placeholder="Description" size="30" />
                            <input class="form-control" type="text" name="tags" value="" placeholder="Tags" size="30" />

                            <input class="form-control" type="number" name="min_length" value="" placeholder="Minimum Length (km)" min="0"/>
                            <input class="form-control" type="number" name="max_length" value="" placeholder="Maximum Length (km)" min="0"/>
                            <input class="form-control" type="number" name="min_difficulty" value="" placeholder="Minimum difficulty" min="1" max="10" />
                            <input class="form-control" type="number" name="max_difficulty" value="" placeholder="Maximum difficulty" min="1" max="10" />

                            <input class="form-control submit_button" type="submit" name="submit" value="Search Walk" />
                        </form>
                    </div>    
                </div>
            </div>
            
            <div class="col-xxl-9 col-12">
                {% for walk in search_results %}
                    <div class="row walk_tile">
                        <p>{% walk_element walk display_type="full" %}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
