{% extends 'stroll/base.html' %}
{% load staticfiles %}
{% load stroll_template_tags %}

{% block stylesheet_block %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/walk.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/question.css' %}"/>
{% endblock %}

{% block title_block %}
    {{ walk.title }}
{% endblock %}

{% block body_block %}
<div class="container title">
    <h1>{{ walk.title }}</h1>
    <h2>By {{ walk.user.username }}</h2>
    {% if user.is_moderator %}
        <div class="row">
            <div class="col d-grid">
                <input type="submit" class="btn delete_button" value="Delete Walk" />
            </div>
        </div>
    {% endif %}
</div>
<div class="container-xxl main_body walk_text">
    <div class="row walk_screen">
        <div class="col content_seperator">
            <div class="row">
                <div class="col-lg-6 col-12">
                    map here
                </div>
                <div class="col-lg-6 col-12">
                    <!-- This carosell is from the bootstrap website -->
                    <div id="walk_carousel" class="carousel slide">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="{{ MEDIA_URL }}walk_photos/{{ thumbnail }}.png" class="d-block carousel_image image" alt="A photo for the walk">
                            </div>
                            {% for photo in photos %}
                                <div class="carousel-item">
                                    <img src="{{ MEDIA_URL }}walk_photos/{{ photo }}.png" class="d-block carousel_image image" alt="A photo for the walk">
                                </div>
                            {% endfor %}
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#walk_carousel" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#walk_carousel" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-12">
                    <div class="row">
                        <p>Area: {{ walk.area }}</p>
                    </div>
                    <div class="row">
                        <p>Length: {{ walk.length }}</p>
                    </div>
                    <div class="row">
                        <p>
                            Tags: {% for tag in tags %}
                                    {% if not forloop.last %}
                                        {{ tag }}, 
                                    {% else %}
                                        {{ tag }}
                                    {% endif %}
                        {% endfor %}
                        </p>
                    </div>
                    <div class="row">
                        <p>Difficulty: {{ walk.difficulty }}</p>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p>Likes: {{ walk.likes }}</p>
                        </div>
                        <div class="col">
                            <!-- If walk is liked, add 1 to walk liked and to the likes of the user who made the walk -->
                            {% if request.user.is_authenticated %}
                            <button class="btn like_button" type="submit">Like this walk</button> 
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-12">
                    <p>Description: {{ walk.description }}</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% comments_section comments request.user %}

{% endblock %}
