{% extends 'stroll/base.html' %}
{% load staticfiles %}
{% load stroll_template_tags %}

{% block stylesheet_block %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/question_page.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/comment_element.css' %}"/>
{% endblock %}

{% block title_block %}
    Question By {{ question.user }}
{% endblock %}

{% block body_block %}
<div class="container title">
    <h1>Question</h1>
    {% if request.user.userprofile.is_moderator %}
        <div class="row">
            <div class="col d-grid">
                <input type="submit" class="btn delete_button" value="Delete Question" />
            </div>
        </div>
    {% endif %}
</div>
<div class="container-xxl main_body walk_text">
    <div class="row question_screen">
        <div class="col content_seperator">
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col-xxl-1 col-md-2 col-12 profile_photo_box">
                            <img src="/media/{{ question.user.profile_picture }}" class="profile_photo">
                        </div>
                        <div class="col">
                            <div class="row" >
                                <div class="row">
                                    <div class="col">
                                        <!-- Shows if the person asking the question is a moderator or not -->
                                        {% if question.user.is_moderator %}
                                            <p><strong>{{ question.user }}</strong> (Moderator) • {{ question.date_published }} • <span id="like_count">{{ question.likes }}</span> likes</p>
                                        {% else %}
                                            <p><strong>{{ question.user }}</strong> • {{ question.date_published }} • <span id="like_count">{{ question.likes }}</span> likes</p>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <p>{{ question.question }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if request.user.is_authenticated %}
                        <div class="col-lg-2 col-0 d-none d-lg-block button_offset">
                            <button id="like_question_btn" class="btn like_button" data-questionid="{{ question.id }}" type="submit">Like this Question ❤</button>
                        </div>
                        <div class="col-lg-0 col-12 d-lg-none d-block button_offset">
                            <button id="like_question_btn" class="btn like_button" data-questionid="{{ question.id }}" type="submit">❤</button>     
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% comments_section comments request.user "question" question.id %}

{% endblock %}
