<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/walk_elements.css' %}"/>
    </head>
    <body>
    {% if display_type == "full" %}
    <div class="container-xxl">
    <a href="{% url 'stroll:show_walk' walk.slug %}" id="walk_link">
        <div class="card w-m-50 w-100 walk_card">
            <div class="row g-0">
                <div class="col-lg-3 d-flex walk_card_elements">
                    <!-- This doesn't use the media url as this can't see that variable -->
                    <img src="/media/walk_photos/{{ walk.thumbnail }}.png" class="img-fluid rounded" height="150" alt="{{ walk.name }}'s thumbnail">   
                </div>               
                <div class="col-lg-9">
                    <div class="card-body">
                        <div class="col">
                        <h4 class="card-title">{{ walk.name }}</h4>
                        <dl class="card-text">
                            <dt><small>Area: {{ walk.area }}</small></dt>
                            <dt><small>Tags: {% for tag in walk.tags %}
                                            {% if not forloop.last %}
                                                {{ tag }}, 
                                            {% else %}
                                                {{ tag }}
                                            {% endif %}
                                    {% endfor %}</small></dt>
                        <dt><small>Difficulty: {{ walk.difficulty }}</small></dt>
                        <dt><small>Likes: {{ walk.likes }}</small></dt>
                        </div>
                        </dl>
                
                    <div class="col-lg">
                        <p class="card-text"><small>Description: {{ walk.description }}</small></p>
                    </div>
                </div>
                </div>
        </div>
        </div>
    </a>
    </div>
    {% elif display_type == "small" %}
    <div class="container">
        <a href="{% url 'stroll:show_walk' walk.slug %}" class="link-underline link-underline-opacity-0 text-dark">
            <div class="card text-center walk_card">
                <div class="row">
                    <!-- This doesn't use the media url as this can't see that variable -->
                    <img src="/media/walk_photos/{{ walk.thumbnail }}.png" class="img-fluid rounded" width="150" alt="{{ walk.name }}'s thumbnail">
                    <div>
                        <div class="card-body">
                            <h8 class="card-title">{{ walk.name }}</h8>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    {% endif %}
    </body>
</html>
